$color-primary-dark: #b68d4c;
$color-primary-light: #f3e2c7;
$color-secondary: #8fbc8f;
$color-darkest: #000;
$color-lightest: #fff;
$color-shadow: #808080;
$button-color:#0397D6;
$font: verdana, sans-serif;
$page-bg:#e8ebf5;
$color-text:#545454;
$color-text-head:#2a2a2a;